{% extends "layout.html" %} {% block content %}
<h2>Register</h2>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input class="form-control" name="name" required />
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" name="email" type="email" required />
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input class="form-control" name="password" type="password" required />
  </div>
  <button class="btn btn-primary">Register</button>
</form>
{% endblock %}
